.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    border-radius: 1rem;
    animation-name: fadeIn;
    animation-duration: 0.6s;
    margin-top: 0rem;
    padding: 1rem 2rem;
    /* position: relative; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#statistics {
    display: flex;
}

.statistic-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}

.statistic {
    display: flex;
}

.label {
    font-size: small;
}

.distribution {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.graph-container {
    display: flex;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.graph-bar {
    /* font-size: .8em; */
    display: flex;
    justify-content: flex-end;
    margin: 0.25rem;
    background: rgb(100, 100, 100);
    min-width: 2rem;
    border-radius: 0.5rem;
}

.num-errors {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

h5 {
    margin-bottom: 1rem !important;
    margin-top: 1rem;
}

.distribution-label {
    font-size: 1.5rem;
}

.share-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    
}

.share-button {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background: #538D4E !important;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.timer-container {
    font-size: medium;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.timer {
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
}
button svg {
    padding-left: 1rem;
    margin-top: 0.2rem;

}
 /* The alert message box */
 .alert {
    display: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #538D4E; 
    color: white;
    margin-bottom: 15px;
    position: absolute;
    top: -30%;
    animation-name: pop-up;
    animation-duration: 0.5s;
  }

@keyframes pop-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes fadeIn {
    from {
        margin-top: -1rem;
        opacity: 0.5;
    }
    to {
        margin-top: 0rem;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .container {
        width: 75%;
    }
}